:host {
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1 1 auto;
  padding: 0 2rem 1rem;
  overflow: auto;
  position: relative;
}

.message {
  padding-bottom: 2rem;
  box-sizing: border-box;
  &:last-child {
    height: 100%;
  }
}

.promptBlock {
  display: flex;
  justify-content: end;
}
.prompt {
  padding: 2rem;
  background: var(--color-surface);
  border-radius: 32px;
  border-top-right-radius: 0;
  border: solid 1px var(--color-background);
}

.responseBlock{
  margin-top: 2rem;
  display: flex;
}
.response {
  white-space: pre-wrap;
}
.response-text {
  padding-top: 13px;
  padding-left: 1rem;
}

.brain {
  flex: 0 0 auto;
  &.loading {
    animation: pulse 1.5s infinite;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: -4px;
      left: -5px;
      display: block;
      width: 50px;
      aspect-ratio: 1;
      border-radius: 50%;
      border: 1px solid var(--color-secondary-text);
      clip-path: polygon(0% 0%, 0 0, 100% 0%, 100% 0%, 100% 100%, 100% 0%, 0% 0%);
      animation:
      l20-1 2.5s infinite linear,
      l20-2 2.5s infinite linear,
      l20-3 10s infinite linear;
    }
  }
}


@keyframes pulse {
  0% { font-variation-settings: 'opsz' 20; }
  25%, 75% { font-variation-settings: 'opsz' 48; }
  100% { font-variation-settings: 'opsz' 20; }
}

@keyframes l20-1{
  0%    {clip-path: polygon(50% 50%,0       0,  0%    0%,   0%    0%,  0%    0%, 0%     0%, 0%     0% )}
  6%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
  12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
  25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
  31%   {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
  37.5% {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
  50%   {clip-path: polygon(50% 50%,0%   100%,  0%  100%,   0%  100%,  0%  100%, 0%  100%,  0%   100% )}
}
@keyframes l20-2{
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}
@keyframes l20-3 {
  0%     {border-color: var(--color-success)}
  25%    {border-color: var(--color-info)}
  50%    {border-color: var(--color-accent)}
  100%   {border-color: var(--color-warning)}
}

.textarea {
  display: block;
  position: relative;
  border: solid 1px var(--color-primary-text);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  padding-right: 0;
  box-sizing: border-box;
  width: 100%;
}

.send-btn {
  position:  absolute;
  bottom: 0.5rem;
  right: 0.75rem;
  opacity: 0;
  transition: opacity 0.5s;
  &.show {
    opacity: 1;
  }
}

textarea {
  min-height: 50px;
  padding-right: 55px;
  border: none;
  width: 100%;
  max-height: 7rem;
  background: transparent;
  resize: none;
  field-sizing: content;
}
