:host {
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1 1 auto;
  padding: 0 2rem 1rem;
  overflow: auto;
  position: relative;
}

.message {
  padding-bottom: 2rem;
  box-sizing: border-box;
  &:last-child {
    height: 100%;
  }
}

.promptBlock {
  display: flex;
  justify-content: end;
}
.prompt {
  padding: 2rem;
  background: var(--color-surface);
  border-radius: 32px;
  border-top-right-radius: 0;
  border: solid 1px var(--color-background);
}

.responseBlock{
  margin-top: 2rem;
}
.response {
  white-space: pre-wrap;
}

.textarea {
  display: block;
  position: relative;
  border: solid 1px var(--color-primary-text);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  padding-right: 0;
  box-sizing: border-box;
  width: 100%;
}

.send-btn {
  position:  absolute;
  bottom: 0.5rem;
  right: 0.75rem;
  opacity: 0;
  transition: opacity 0.5s;
  &.show {
    opacity: 1;
  }
}

textarea {
  min-height: 50px;
  padding-right: 55px;
  border: none;
  width: 100%;
  max-height: 7rem;
  background: transparent;
  resize: none;
  field-sizing: content;
}
