:host {
  display: flex;
}

nav {
  text-align: center;
  flex: 0 0 auto;
  margin-right: 13px;
  width: 34px;
  button {
    border: solid 1px transparent;
    margin-bottom: 0.5rem;
    &:hover {
      color: var(--color-background);
    }
  }
  &.calendar button.calendar,
  &.tasks button.tasks {
    border: solid 1px var(--color-border);
    color: var(--color-accent);
    &:hover {
      color: var(--color-background);
    }
  }
}

main {
  display: flex;
  flex: 1 1 auto;
  gap: 1.5rem;
  padding: 0 0 1.5rem 34px;
  height: calc(100vh - var(--header-height));
  box-sizing: border-box;

  app-chat {
    flex: 1 1 auto;
    transition: margin-left 0.5s;
  }
  app-tasks,
  app-calendar {
    margin-right: 1.5rem;
    flex: 1 0 auto;
    max-width: 40%;
    min-width: 350px;
  }
}
