:host {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.estimate {
  display: block;
  flex: 1 1 auto;
  position: relative;
  height: 0.5rem;
  border: solid 1px var(--color-background);
  border-radius: var(--border-radius);
  background-color: var(--color-background);
}

.scheduled, .completed {
  position: absolute;
  height: 100%;
  border: solid 1px var(--color-surface);
  border-radius: var(--border-radius);
}

.scheduled {
  background-color: var(--color-info);
  width: 0;
}
.completed {
  background-color: var(--color-success);
  width: 0;
}
