
<div id="google-button-div" #signInButton></div>
<button (click)=gAuth.firebaseFlow()>Firebase popup flow</button>
Loggin status {{gAuth.user ? 'Logged in':'Logged out'}}
<!--@if(authService.ready) {-->
  <!--@if(authService.user(); as user) {-->
    <!--Hello, {{user.displayName}}.-->
    <!--<button (click)=authService.signOut()>Sign Out</button>-->
  <!--} @else {-->
    <!--<button (click)=authService.signIn()>Sign In</button>-->
  <!--}-->
<!--}-->
<hr/>
Calendar content <button (click)=gAuth.listUpcomingEvents()>Get it</button>
<div id="content"></div>
<hr/>
<textarea [(ngModel)]=prompt style="width: 100%; height: 100px;"></textarea>
<br />
<button (click)=go()>Go</button>

<hr/>
Response

<pre>{{responseText}}</pre>
