<button class="user-img-btn" (click)=toggleMenu()><img referrerPolicy="no-referrer" [src]="auth.user?.photoURL" /></button>

@if (abortControl) {
  <div class="userMenu" #userMenuElm>
    <button class="close-btn material-symbols-outlined naked circle small" (click)=tearDownMenu()>close</button>
    <header>
      <small>{{auth.user?.email}}</small>
      <img referrerPolicy="no-referrer" [src]="auth.user?.photoURL" />
      <h4>Hello, {{auth.user?.displayName}}</h4>
    </header>
    <div class="buttons">
      <button class="menu-item naked" [routerLink]="['app', 'settings']" (click)="tearDownMenu()"><i class="material-symbols-outlined">settings</i>Settings</button>
      <button class="menu-item naked" (click)=signOut()><i class="material-symbols-outlined">logout</i>Log Out</button>
    </div>
  </div>
}
