
<app-wave />
<article>
  <section style="animationRange: 0px 0px">
    <h1>TiME MiNDER</h1>
    <p>Amet dolores maxime eum eius necessitatibus! Atque nisi ipsam totam unde molestiae. Aliquid distinctio reprehenderit nulla voluptatum accusantium animi omnis. Laboriosam hic dolorum explicabo tempora eveniet iste? Fuga ipsum ut.</p>
    <div class="call-to-action">
      <button class=info routerLink="app">Try it now</button>
    </div>
  </section>
  <img src="cal-placeholder.png" style="animationRange: 0px 0px"/>
  <app-wave invert />
</article>

<article class="reverse accent">
  <section style="animationRange: 25px 100px">
    <h1>Section Title</h1>
    <p>Amet dolores maxime eum eius necessitatibus! Atque nisi ipsam totam unde molestiae. Aliquid distinctio reprehenderit nulla voluptatum accusantium animi omnis. Laboriosam hic dolorum explicabo tempora eveniet iste? Fuga ipsum ut.</p>
    <div class="call-to-action">
      <button class=info>Try it now</button>
    </div>
  </section>
  <img src="cal-placeholder.png" style="animationRange: 25px 100px"/>
</article>

<article class="">
  <app-wave />
  <section style="animationRange: 150px 300px">
    <h1>Section Title</h1>
    <p>Amet dolores maxime eum eius necessitatibus! Atque nisi ipsam totam unde molestiae. Aliquid distinctio reprehenderit nulla voluptatum accusantium animi omnis. Laboriosam hic dolorum explicabo tempora eveniet iste? Fuga ipsum ut.</p>
    <div class="call-to-action">
      <button class=info>Try it now</button>
    </div>
  </section>
  <img src="cal-placeholder.png" style="animationRange: 150px 300px"/>
</article>
