:host {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
    &[invert] {
      bottom: 0;
      transform: rotate(180deg);
    }
    &[surface] .shape-fill {
      fill: var(--color-background);
    }
    &[overlay] .shape-fill {
      fill: var(--color-overlay);
    }
}

svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 200px;
}

.shape-fill {
    fill: var(--color-surface);
}

