<input [(ngModel)]="task.summary" placeholder="Task Summary"/>
<textarea [(ngModel)]="task.description" placeholder="Add a description to your task."></textarea>
<div class="time-estimate">
  <label name="time-estimate">Time Esitmate: <input type=number min=0 step="0.5" [(ngModel)]=task.timeEstimate/> Hrs</label>
  <label name="time-completed">Time Completed: <input type=number min=0 step="0.5" [(ngModel)]=task.timeCompleted/> Hrs</label>
</div>
<div class="controls">
  @if(task.id) {
    <button class="material-symbols-outlined error" (click)="deleteTask()">delete</button>
  }
  <button class="material-symbols-outlined" (click)="modalService.close()">close</button>
  <button class="material-symbols-outlined success" (click)="saveTask()">check</button>
</div>
