<div class="controls">
  <button class="material-symbols-outlined naked circle small size-20" (click)=openModal()>add</button>
</div>
<div class="task-list">
  @for (task of taskList; track task.id) {
  <div class="task" appIntersectionObserver>
    <header>
      <h3>{{task.summary}}</h3>
      @if(task.open) {
        <button class="material-symbols-outlined naked circle small size-20" (click)="task.open = !task.open">unfold_less</button>
      } @else {
        <button class="material-symbols-outlined naked circle small size-20" (click)="task.open = !task.open">unfold_more</button>
      }
    </header>
    <div class="description" [ngClass]="{'open': !!task.open}">
      <p>{{task.description}}</p>
    </div>
    <div class="task-controls">
      @if (task.timeEstimate) {
        <app-progress-bar [task]=task />
      }
      <div class="task-menu">
          <button class="material-symbols-outlined naked circle small size-20" (click)=openModal(task)>edit</button>
          <button class="material-symbols-outlined naked circle small size-20">check</button>
          <button class="material-symbols-outlined naked circle small size-20">menu_open</button>
      </div>
    </div>
  </div>
  } @empty {
    No tasks
  }
</div>
